body {
  font-family: roboto,sans-serif;
}
.grid-container{
  display: grid;
  grid-template-columns: auto;
}
.ContainersHeaders{
  text-align: center;
}
#StepsContainer{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  justify-content: space-between;
}
#PaymentsContainer{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  justify-content: space-between;
}
.PaymentContainer img{
  text-align: center;
}
#StepsContainer h3, #PaymentsContainer h3 {
  text-align: center;
  color: #005491;
}
.StepContainer, .PaymentContainer{
  padding: 20px 15px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 5px;
}
.StepContainer li, .PaymentContainer li{
  margin-bottom: 15px;
}
ol {
  list-style: none;
  counter-reset: counterr;
}
ol li {
  counter-increment: counter;
}
ol li::before {
  content: counter(counter) ". ";
  color: #005491;
  font-weight: bold;
}
.listGrayText{
  font-size: 14px;
  color: gray;
}
#Step1Buttons, #Step3Bttn, #Payment1Bttn{
  text-align: center;
}
#Step1Buttons button, #Payment1Bttn{
  margin: 20px 15px;
}
#Step3Bttn{
  margin-top: 100px;
}
#BenefitsContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Benefit{
  padding: 0px 25px;
}
.Benefit p {
  margin-top: 25px;
}
.imgCenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
}